cairocffi==1.0.0
CairoSVG==2.3.0
cffi==1.11.5
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.7
django-filter==2.1.0
django-qr-code==1.0.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
future==0.17.1
html5lib==1.0.1
Pillow==5.4.1
pycparser==2.19
PyJWT==1.7.1
Pyphen==0.9.5
pytz==2018.9
qrcode==6.1
six==1.12.0
tinycss2==0.6.1
WeasyPrint==44
webencodings==0.5.1
