white-bg = #f5f5f5

mat-toolbar
  height 64px

mat-drawer-container
  height calc(100vh - 64px)
  overflow hidden

mat-drawer-content
  padding 10px
  background #fff

table
  width 100%

.panel
  box-shadow 0 0 5px #aaa
  border-radius 5px

  mat-toolbar
    border-radius 5px 5px 0 0

.panel-content
.panel-footer
  padding 10px

mat-form-field
  width 100%

.of-hidden
  overflow: hidden

.float-right
  float right

.float-left
  float: left

.mid-center
  position absolute
  top 48%
  left 50%
  transform translate(-50%, -50%)

.col-1-2
  padding 5px
  @media (min-width 768px)
    float left
    width 50%
    box-sizing border-box


.active
  background white-bg


.spacer
  flex 1 1 0

mat-drawer
  h3
    padding 5px 10px 0 10px
    text-align: center

button.float-right
  margin auto 5px
